@media (max-width: 992px) {
  .menu-container {
    .nav {
      flex-direction: column;
    }
    .item-menu {
      margin-bottom: 10px;
      &:last-child {
        margin-bottom: 0;
      }
    }
    .menu {
      @include transition(transform);
      transform: translateX(-100%);
      position: fixed;
      top: 36px;
      background-color: #4d7fee;
      left: 0;
      right: 0;
      z-index: 2;
      padding: 10px;
      max-width: 100%;
      bottom: 0;
      .link-menu {
        color: #fff;
      }
      &.active {
        transform: translateX(0);
      }
    }
    .toggle-menu {
      display: block;
      order: 4;
    }
    .logo {
      margin-right: auto;
    }
    .language-switcher {
      margin-right: 10px;
    }

  }

}

@media (max-width: 870px) {
  .basket {
    padding: 20px 10px;

    th,
    td,
    .title-product {
      font-size: 12px;
    }
    th,
    td {
      padding: 12px 8px;
    }
    .title-basket{
      margin-bottom: 10px;
    }
    .sub-title-product {
      font-size: 11px;
    }
    .price-and-order {
      flex-direction: column;
    }
    .to-order {
      margin-top: 10px;
      margin-left: 0;
    }
    .all-price-all-product {
      font-size: 14px;
    }
    .count-product {
      width: 25px;
    }
  }
  .count-product-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 520px) {
  .cabinet-steps {
    flex-direction: column;

    .steps {
      max-width: 100%;
      padding: 20px 0;

      a {
        padding: 2px 25px;
        margin-bottom: 6px;
      }
    }
    .title-form {
      margin-bottom: 10px;
    }
    .tablet-delivery-history {
      padding: 25px 10px;
    }
    .item {
      flex-direction: column;
      padding-bottom: 10px;
    }
    .label-width {
      margin-bottom: 10px;
      width: auto;
    }
  }
}

@media (max-width: 710px) {
  .step-form {
    .steps {
      padding: 0 20px;
    }
    .content {
      padding: 25px 20px 0;
    }
    .one-step {
      flex-direction: column;
    }
    .item {
      max-width: 100%;
    }
  }
}
@media (max-width: 550px) {
  .step-form {
    .title-form {
      padding: 25px 0 25px;
      text-align: center;
    }
    .steps {
      display: none;
      //li {
      //  width: 100%;
      //  margin-bottom: 15px;
      //}
    }
    .radio-container {
      flex-direction: column;
    }
    .radio {
      max-width: 100%;
      width: 100%;
      &:first-child {
        margin-bottom: 20px;
      }
    }
  }
}
