@font-face {
  font-family: 'pfdintext-regular';
  src: url("../fonts/pfdintext-regular/pfdintextpro-regular.eot");
  src: url("../fonts/pfdintext-regular/pfdintextpro-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/pfdintext-regular/PFDinTextPro-Regular.svg") format("svg"), url("../fonts/pfdintext-regular/PFDinTextPro-Regular.woff") format("woff"), url("../fonts/pfdintext-regular/PFDinTextPro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'pfdintext-bold';
  src: url("../fonts/pfdintext-bold/pfdintextpro-bold.eot");
  src: url("../fonts/pfdintext-bold/pfdintextpro-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/pfdintext-bold/PFDinTextPro-Bold.svg") format("svg"), url("../fonts/pfdintext-bold/PFDinTextPro-Bold.woff") format("woff"), url("../fonts/pfdintext-bold/PFDinTextPro-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'pfdintext-light';
  src: url("../fonts/pfdintext-ligth/pfdintextpro-light.eot");
  src: url("../fonts/pfdintext-ligth/pfdintextpro-light.eot?#iefix") format("embedded-opentype"), url("../fonts/pfdintext-ligth/PFDinTextPro-Light.svg") format("svg"), url("../fonts/pfdintext-ligth/PFDinTextPro-Light.woff") format("woff"), url("../fonts/pfdintext-ligth/PFDinTextPro-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'pfdintextpro-medium';
  src: url("../fonts/pfdintextpro-medium.ttf");
  font-weight: 500;
  font-style: normal; }
* {
  box-sizing: border-box; }

html, body, ul, li, h1, h2, h3, h4, h5, h6, ol, ul, li, p {
  margin: 0;
  padding: 0; }

ul li {
  list-style: none; }

img {
  max-width: 100%; }

a, img {
  display: inline-block; }

a {
  text-decoration: none;
  font-size: inherit;
  color: inherit; }

input,
button,
textarea {
  padding: 0;
  cursor: pointer;
  border: none;
  display: inline-block;
  background-color: transparent;
  outline: none;
  box-sizing: border-box; }

.align-right {
  text-align: right; }

.align-left {
  text-align: left; }

.align-center {
  text-align: center; }

.wrapper {
  overflow: hidden; }

header {
  box-shadow: 0 2px 9.7px 0.3px rgba(0, 0, 0, 0.1); }

.registration-wrap {
  background-color: #4D7FEE;
  padding: 9px 0;
  color: #fff; }
  .registration-wrap .width-container {
    display: flex;
    flex-wrap: nowrap;
    align-items: stretch;
    justify-content: flex-end;
    flex-direction: row;
    max-width: 1230px;
    margin: auto;
    padding: 0 10px; }
  .registration-wrap .phone-container {
    padding-right: 7%; }
  .registration-wrap .phone-icon {
    width: 11px;
    display: inline-block;
    margin-right: 10px; }
  .registration-wrap .phone {
    font-size: 12px;
    font-family: 'pfdintext-regular', sans-serif; }
  .registration-wrap .link-sign {
    text-transform: uppercase;
    font-size: 10px;
    font-family: 'pfdintext-light', sans-serif;
    vertical-align: sub; }
  .registration-wrap .form-register {
    text-transform: uppercase;
    font-size: 10px; }

.menu-container {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  max-width: 1230px;
  margin: auto;
  padding: 0 10px;
  min-height: 80px; }
  .menu-container .icon {
    width: 15px;
    height: 15px; }
  .menu-container .favourites-icon,
  .menu-container .shopping-icon {
    position: relative; }
  .menu-container .show-search,
  .menu-container .favourites-icon,
  .menu-container .shopping-icon {
    margin-right: 20px; }
  .menu-container .count-favourites,
  .menu-container .count-orders {
    position: absolute;
    top: -5px;
    right: -10px;
    background-color: #4d7fee;
    border-radius: 100%;
    color: #fff;
    padding: 0 3px;
    font-size: 10px;
    justify-content: center; }
  .menu-container .menu {
    max-width: 580px;
    width: 100%; }
  .menu-container .nav {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row; }
  .menu-container .link-menu {
    text-transform: uppercase;
    font-size: 12px;
    font-family: 'pfdintext-bold', sans-serif; }
    .menu-container .link-menu:hover {
      color: #4d7fee; }
  .menu-container .toggle-menu {
    display: none;
    position: relative;
    height: 20px;
    width: 30px;
    z-index: 22;
    cursor: pointer; }
    .menu-container .toggle-menu .close {
      height: 2px;
      background-color: #4d7fee;
      display: block; }
    .menu-container .toggle-menu:before, .menu-container .toggle-menu:after {
      transition: transform 0.3s ease-in;
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      height: 2px;
      background-color: #4d7fee; }
    .menu-container .toggle-menu:before {
      top: 50%;
      transform: translateY(-50%); }
    .menu-container .toggle-menu:after {
      bottom: 0; }
    .menu-container .toggle-menu.active .close {
      display: none; }
    .menu-container .toggle-menu.active:before, .menu-container .toggle-menu.active:after {
      background-color: #fff; }
    .menu-container .toggle-menu.active:before {
      transform: rotate(44deg); }
    .menu-container .toggle-menu.active:after {
      bottom: 7px;
      transform: rotate(-47deg); }

.language-switcher {
  border: none;
  outline: none;
  cursor: pointer; }

.search-form-container {
  position: fixed;
  transform: translateY(-100px);
  background-color: #fff;
  z-index: 3;
  left: 0;
  right: 0;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.25);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease; }
  .search-form-container input {
    width: 100%;
    font-family: 'pfdintext-regular', sans-serif;
    font-size: 16px;
    border: none;
    min-height: 42px; }

.search-form-container.active {
  transform: translateY(0); }

.wrapper-form {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: row;
  position: relative;
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
  height: 80px;
  background-color: #ffffff;
  align-items: center;
  justify-content: space-between; }

.search-cross {
  width: 15px;
  height: 15px;
  cursor: pointer; }

.form-aut {
  max-width: 400px;
  margin: auto;
  padding: 0 10px; }
  .form-aut .user-name, .form-aut .tel {
    background: url("../img/Shape-icon.png") no-repeat left;
    background-size: 20px;
    padding-left: 35px;
    line-height: 35px;
    border-bottom: 1px solid #cfcfcf;
    width: 100%;
    font-size: 18px; }
  .form-aut .pass {
    background: url("../img/Shape-4.png") no-repeat left;
    background-size: 20px;
    padding-left: 35px;
    line-height: 35px;
    border-bottom: 1px solid #cfcfcf;
    width: 100%;
    font-size: 18px; }
  .form-aut .mail {
    background: url("../img/mail.png") no-repeat left;
    background-size: 20px;
    padding-left: 35px;
    line-height: 35px;
    border-bottom: 1px solid #cfcfcf;
    width: 100%;
    font-size: 18px; }
  .form-aut .heading, .form-aut .title-form {
    font-size: 24px;
    text-transform: uppercase;
    padding: 55px 0;
    font-family: 'pfdindisplayPRO Medium', sans-serif; }
  .form-aut label {
    color: #696969;
    font-size: 12px; }
  .form-aut .input-container {
    position: relative;
    padding-top: 25px;
    padding-bottom: 45px; }
  .form-aut button {
    background-color: #4d7fef;
    text-transform: uppercase;
    padding: 22px 0;
    color: #fff;
    font-size: 16px;
    width: 100%;
    margin: 40px 0 25px 0;
    box-shadow: 0 0 6px #efefef; }
  .form-aut .checkbox-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    flex-direction: row; }
  .form-aut #rememberMe + .style-checked:after {
    content: "";
    background-color: #333333;
    width: 28px;
    height: 28px;
    border-radius: 4px;
    position: absolute;
    left: 0;
    top: 0; }
  .form-aut #rememberMe:checked + .style-checked:after {
    background: #fff url("../img/tick.png") no-repeat center; }
  .form-aut .border {
    border-bottom: 1px solid #000; }
  .form-aut .check {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    height: 28px;
    position: relative; }
  .form-aut .check-label {
    margin-left: 20px; }
  .form-aut .error {
    color: #ff0505; }

.reg-form {
  margin-bottom: 65px; }

.autho-form {
  margin-bottom: 125px; }

.background-pic {
  background: url("../img/seastar.png") no-repeat left; }

.basket {
  max-width: 1230px;
  margin: auto;
  padding: 0 10px;
  margin-top: 55px;
  padding: 35px;
  box-sizing: border-box;
  box-shadow: 0 5px 19px 1px rgba(0, 0, 0, 0.15);
  text-align: left;
  overflow-x: auto; }
  .basket .horizontal-scroll {
    min-width: 870px; }
  .basket .tablet {
    width: 100%;
    font-family: 'pfdintext-bold',sans-serif;
    color: #333333; }
  .basket .title-basket {
    font-family: 'pfdintext-bold',sans-serif;
    font-size: 24px;
    color: #333;
    text-transform: uppercase;
    margin-bottom: 40px; }
  .basket th {
    font-family: 'pfdintext-bold',sans-serif;
    font-size: 16px;
    color: #bebebe; }
  .basket th, .basket td {
    border-bottom: 1px solid #dedede;
    padding: 20px 8px; }
  .basket .title-product {
    font-family: 'pfdintext-bold',sans-serif;
    font-size: 16px; }
  .basket .sub-title-product {
    font-family: 'pfdintext-bold',sans-serif;
    font-size: 14px;
    color: #bebebe; }
  .basket .all-price-all-product {
    font-size: 18px;
    font-family: 'pfdintext-bold',sans-serif; }
  .basket .count-product {
    text-align: center;
    width: 35px;
    margin: auto; }
  .basket .to-order {
    background-color: #4d7fef;
    font-family: 'pfdintext-light' ,sans-serif;
    font-size: 16px;
    text-align: center;
    padding: 10px;
    color: #fff;
    margin-left: 20px; }
  .basket .price-and-order {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;
    margin-top: 25px; }
    .basket .price-and-order .price {
      font-family: 'pfdintext-bold',sans-serif;
      color: #4d7fef; }

.step-form {
  max-width: 840px;
  margin: auto;
  padding: 0 10px;
  padding: 0;
  margin-top: 80px;
  box-shadow: 0 5px 19px 1px rgba(0, 0, 0, 0.15);
  box-sizing: border-box; }
  .step-form .content {
    padding: 50px 50px 0; }
  .step-form .title-form {
    padding: 50px 50px 30px; }
  .step-form .title {
    display: none; }
  .step-form .one-step {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    flex-direction: row; }
  .step-form .item {
    max-width: 300px;
    width: 100%; }
  .step-form .title-step {
    font-size: 24px;
    color: #333333;
    font-family: 'pfdintext-bold' ,sans-serif;
    width: 100%;
    text-transform: uppercase;
    margin-bottom: 50px; }
  .step-form .radio-container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    margin-bottom: 60px; }
  .step-form .radio {
    position: relative;
    max-width: 310px;
    width: 50%; }
    .step-form .radio input {
      opacity: 0;
      position: absolute;
      margin: 0;
      left: 0; }
  .step-form .custom-style-radio {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    cursor: pointer; }
    .step-form .custom-style-radio:before {
      content: "";
      left: 4px;
      width: 12px;
      height: 12px;
      border-radius: 100%;
      background-color: #efefef;
      margin-right: 10px; }
    .step-form .custom-style-radio:after {
      content: "";
      position: absolute;
      top: 50%;
      left: 4px;
      transform: translateY(-50%);
      background-color: #fff;
      width: 4px;
      height: 4px;
      border-radius: 100%;
      display: none; }
  .step-form .radio-input:checked + .custom-style-radio:before {
    background-color: #4D7FEE; }
  .step-form .radio-input:checked + .custom-style-radio:after {
    display: inline-block; }
  .step-form .label-text {
    font-family: 'pfdintext-bold' ,sans-serif;
    font-size: 14px;
    color: #000; }

.steps {
  padding: 0 50px; }
  .steps ul {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row; }
  .steps li {
    outline: none;
    position: relative;
    width: 25%; }
    .steps li:after {
      content: "";
      position: absolute;
      height: 2px;
      background: #efefef;
      width: 90%;
      left: 14px;
      top: 4px;
      z-index: 1; }
  .steps .current-info {
    display: none; }
  .steps .current .number,
  .steps .done .number {
    background-color: #4d7fee; }
  .steps .current a,
  .steps .done a {
    color: #4d7fee; }
  .steps .done:after {
    background-color: #4d7fee; }
  .steps a {
    font-family: 'pfdintext-bold', sans-serif;
    font-size: 14px;
    outline: none; }
  .steps .number {
    height: 9px;
    width: 9px;
    display: block;
    background-color: #efefef;
    border-radius: 100%;
    font-size: 0;
    margin-bottom: 15px; }

.actions {
  background-color: #efefef; }
  .actions ul {
    height: 80px;
    max-width: 720px;
    margin: auto;
    padding: 0 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    flex-direction: row; }
  .actions li {
    flex-grow: 1; }
    .actions li:nth-child(2) a {
      margin-left: auto; }
  .actions a {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    transition: background-color 0.3s ease-in;
    width: 100%;
    max-width: 180px;
    height: 40px;
    border: 1px solid #4d7fee;
    color: #4d7fee;
    font-size: 16px;
    font-family: 'pfdintext-light', sans-serif;
    text-align: center; }
    .actions a:hover {
      background-color: #4d7fee;
      color: #fff; }

.delivery-and-total-order {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: row; }
  .delivery-and-total-order .total-order {
    max-width: 410px; }
  .delivery-and-total-order .delivery {
    max-width: 230px; }
  .delivery-and-total-order .title-section {
    font-family: 'pfdindisplayPRO Medium', sans-serif;
    font-size: 16px; }
  .delivery-and-total-order .title-table {
    font-family: 'pfdindisplayPRO Bold', sans-serif;
    font-size: 12px;
    color: #c7c7c7;
    text-align: left;
    padding-top: 20px; }
  .delivery-and-total-order .price {
    font-size: 12px;
    color: #4d7fee;
    font-family: 'pfdindisplayPRO Bold', sans-serif; }
  .delivery-and-total-order .amount {
    text-align: center; }
  .delivery-and-total-order .title-product {
    font-size: 12px;
    font-family: 'pfdindisplayPRO Medium', sans-serif; }
  .delivery-and-total-order .grey-line {
    height: 1px;
    background-color: #dedede;
    margin: 30px 0 20px; }
  .delivery-and-total-order .sum {
    width: 100%;
    border-top: 1px solid #dedede;
    margin: 30px 0; }
    .delivery-and-total-order .sum .max-width {
      display: flex;
      flex-direction: column;
      max-width: 230px;
      margin-left: auto; }

.payment-container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: row; }
  .payment-container .pay-item {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    cursor: pointer;
    border-radius: 5px;
    border: 4px solid #dedede;
    width: 350px;
    min-height: 118px;
    margin: 0 auto 30px;
    background-color: #f8f8f8;
    padding-bottom: 20px; }
    .payment-container .pay-item .radio {
      width: auto;
      max-width: 100%; }
    .payment-container .pay-item.active {
      background-color: #edf2fd;
      border-color: #a6bff6; }

.confirm-item {
  margin: auto;
  max-width: 377px; }
  .confirm-item .confirm-description {
    text-align: center; }

@media (max-width: 992px) {
  .menu-container .nav {
    flex-direction: column; }
  .menu-container .item-menu {
    margin-bottom: 10px; }
    .menu-container .item-menu:last-child {
      margin-bottom: 0; }
  .menu-container .menu {
    transition: transform 0.3s ease-in;
    transform: translateX(-100%);
    position: fixed;
    top: 36px;
    background-color: #4d7fee;
    left: 0;
    right: 0;
    z-index: 2;
    padding: 10px;
    max-width: 100%;
    bottom: 0; }
    .menu-container .menu .link-menu {
      color: #fff; }
    .menu-container .menu.active {
      transform: translateX(0); }
  .menu-container .toggle-menu {
    display: block;
    order: 4; }
  .menu-container .logo {
    margin-right: auto; }
  .menu-container .language-switcher {
    margin-right: 10px; } }
@media (max-width: 870px) {
  .basket {
    padding: 20px 10px; } }

/*# sourceMappingURL=style.css.map */
